<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>
     <title>Login page</title>
</head>

<body>
    <div id="content">
        <h1>Welcome to Login page</h1>
     <p>Lorem ipsum dolor, sit amet consectetur
     adipisicing elit. Maiores rem tempore aspernatur repudiandae labore 
     dicta quaerat nemo quae facere nesciunt eius, in velit necessitatibus dolorum qui distinctio
      error maxime. Corporis?</p>
      </div>
    <script>
        console.log("login page");
    </script>
</body>

</html>