<nav th:fragment="navbar" class="bg-gray-700">
  <div class="flex justify-between items-center p-4">
  
    <!-- Logo + Text -->
<div class="flex items-center">

    <!-- Logo Image -->
    <img th:src="@{/images/call.png}" 
         alt="logo" 
         class="w-8 h-8 rounded-full">

    <!-- Text -->
    <span class="text-white text-2xl font-bold ml-3">
        SamparkPro
    </span>

</div>

<!-- Right side -->
<div class="flex items-center gap-3">


<!-- actual menu --> <ul class="hidden md:flex flex-col md:flex-row md:space-x-8 font-medium" id="mobile-menu-list">
   <li><a th:href="@{/home}" class="block py-2 px-3 text-white hover:underline">Home</a></li> 
   <li><a th:href="@{/about}" class="block py-2 px-3 text-white hover:underline">About</a></li> 
   <li><a th:href="@{/services}" class="block py-2 px-3 text-white hover:underline">Services</a></li>
   <li><a th:href="@{/contactPage}" class="block py-2 px-3 text-white hover:underline">Contact</a></li>
   </ul>

    <!-- Right side -->
    <div class="flex items-center gap-3">

      <a th:href="@{/login}" class="bg-blue-700 text-white px-4 py-2 rounded">LOGIN</a>

      <a th:href="@{/regisPage}" class="bg-blue-700 text-white px-4 py-2 rounded">SIGN UP</a>

      <!-- Theme Button -->
      <button class="theme_change_btn px-3 py-2 rounded flex items-center gap-2 bg-gray-400 dark:bg-gray-600">
        <div class="w-6 h-6 rounded-full bg-gray-800 text-white flex items-center justify-center">
          <i class="fa-solid fa-circle-half-stroke text-sm"></i>
        </div>
        <span class="theme-label">Light</span>
      </button>

    </div>
  </div>
</nav>