<!-- Navbar fragment -->
<nav th:fragment="navbar" class="bg-gray-500 border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <!-- brand -->
        <a th:href="@{/}" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img th:src="@{/images/call.png}" class="h-8 shadow-sm" alt="Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">SamparkPro-Smart Contact
                Manager</span>
        </a>

        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <a th:href="@{/loginPage}" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-4 py-2 mr-2">LOGIN</a>
            <a th:href="@{/regisPage}" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-4 py-2 mr-2">SIGN UP</a>
            <button id="theme_change_btn" class="px-3 py-2 rounded flex items-center gap-2 bg-gray-400 dark:bg-gray-600">
                <div id="theme-circle" class="w-6 h-6 rounded-full bg-gray-800 text-white flex items-center justify-center">
                    <i class="fa-solid fa-circle-half-stroke text-sm"></i>
                </div>
                <span id="theme-label">Light</span>
            </button>
        </div>



        <!-- menu links -->
        <div class="hidden md:flex md:w-auto md:order-1">
            <ul class="flex flex-col md:flex-row md:space-x-8 font-medium">
                <li><a th:href="@{/home}" class="block py-2 px-3 text-white hover:underline">Home</a></li>
                <li><a th:href="@{/about}" class="block py-2 px-3 text-white hover:underline">About</a></li>
                <li><a th:href="@{/services}" class="block py-2 px-3 text-white hover:underline">Services</a></li>
                <li><a th:href="@{/contactPage}" class="block py-2 px-3 text-white hover:underline">Contact</a></li>
            </ul>
        </div>


        <!-- <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <a th:href="@{/loginPage}"
                class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-4 py-2 mr-2">LOGIN</a>
            <a th:href="@{/regisPage}"
                class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-4 py-2 mr-2">SIGN
                UP</a>

            <button id="theme_change_btn"
                class="px-3 py-2 rounded flex items-center gap-2 bg-gray-400 dark:bg-gray-600">
                <div id="theme-circle"
                    class="w-6 h-6 rounded-full bg-gray-800 text-white flex items-center justify-center">
                    <i class="fa-solid fa-circle-half-stroke text-sm"></i>
                </div>
                <span>Light</span>
            </button>
        </div> -->
</nav>