<nav th:fragment="user-navbar" class="bg-gray-600">
  <div class="flex justify-between items-center p-4">

   <!-- Logo + Text -->
<div class="flex items-center">

    <!-- Logo Image -->
    <img th:src="@{/images/call.png}" 
         alt="logo" 
         class="w-8 h-8 rounded-full">

    <!-- Text -->
    <span class="text-white text-2xl font-bold ml-3">
        SamparkPro
    </span>

</div>

<!-- Right side -->
<div class="flex items-center gap-3">

       <ul class="hidden md:flex flex-col md:flex-row md:space-x-8 font-medium" id="mobile-menu-list">
                <!-- <li><a th:href="@{/home}" class="block py-2 px-3 text-white hover:underline">Home</a></li> -->
                <li><a th:href="@{/about}" class="block py-2 px-3 text-white hover:underline">About</a></li>
                <li><a th:href="@{/services}" class="block py-2 px-3 text-white hover:underline">Services</a></li>
                <li><a th:href="@{/contactPage}" class="block py-2 px-3 text-white hover:underline">Contact</a></li>
                <li>
          <a
            data-th-href="@{'/user/profile'}"
            type="button"
            class="md:hidden text-white bg-green-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            <span data-th-text="${loggedInUser.name}"></span>
          </a>
       
          <a
            data-th-href="@{'/do-logout'}"
            type="button" 
            class="md:hidden text-white bg-red-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Logout
          </a>
        </li>
        <!-- User Name -->
      <a th:href="@{/user/profile}" 
         class="text-white bg-green-800 px-4 py-2 rounded">
         <span th:text="${loggedInUser.name}"></span>
      </a>

       <!-- Theme Button -->
      <button class="theme_change_btn px-3 py-2 rounded flex items-center gap-2 bg-gray-400 dark:bg-gray-600">
        <div class="w-6 h-6 rounded-full bg-gray-800 text-white flex items-center justify-center">
          <i class="fa-solid fa-circle-half-stroke text-sm"></i>
        </div>
        <span class="theme-label">Light</span>
      </button>
      
            </ul>

      
      <!-- Logout -->
      <a th:href="@{/do-logout}" 
         class="text-white bg-red-800 px-4 py-2 rounded">
         Logout
      </a>

    </div>
  </div>
</nav>